---
const { h2 } = Astro.props
const { p } = Astro.props
const { source } = Astro.props
const { frase } = Astro.props
const { cita } = Astro.props
---
<div class="w-full h-full flex flex-col">
    <section class=" lg:bg-black my-2 mx-10 relative animate-slide-in-bottom animate-delay-300 animate-duration-slow lg:shadow-lg  lg:shadow-black">
        <div class="w-full h-full bg-gradient-to-b from-transparent to-80% to-black lg:absolute opacity-80"></div>
            <video class="h-full w-full lg:rounded-lg" autoplay=1 loop muted>
                <source src={source} type="video/mp4"> 
            </video>
        <div class="text-white absolute bottom-2/4 pl-4 pt-16 lg:top-3/4 lg:p-16 " >
            <h2 class="text-xl font-bold italic">{h2}</h2>
            <p class="text-3xl">{p}</p>
        </div>
        <div class="absolute mt-4 top-3/4 left-2/4">
            <div class="bg-red-900 shadow-xl shadow-neutral-700 dark:shadow-black lg:w-3/4 rounded-lg">
                <h2 class="text-5xl p-8 text-white italic">{frase}</h2>
            </div>
            <p class="text-black dark:text-white  sm:text-sm  lg:text-3xl text-end  pr-40 font-semibold">{cita}</p>
        </div>
    </section>
</div>


